<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>Registration</title>
</head>
<style>
    .form-control2{
       
        text-align: center;
        background-color: lightgrey;
        font-family: Papyrus;
       
    }

    body{
        background-image: url("/static/images/buying.jpg");
        height: 700px;
        width: 100%;
        
        padding-top: 50px;
        
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        
    }
</style>
<body>

    <div class="container">
        {%if messages%}
            {% for x in messages%}
                <script>alert("{{x}}")</script>
            {%endfor%}
            {%endif%}
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <header class="card-header">
                        <h4 class="card-title mt-2">Sign in Form</h4>
                    </header>
                    <article class="card-body">
                        <form action="login" method="post">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col form-group">
                                    <label>Username</label>
                                    <input type="text" class="form-control" placeholder="username" name='username' required>
                                    <label>Password</label>
                                    <input type="password" class="form-control" placeholder="password" name='pswd' required>
                                </div> <!-- form-group end.// -->
                            </div> <!-- form-row end.// -->
                            <label>Enter Captcha:</label>
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <input type="text" class="form-control2" readonly id="capt"  name='capta'> 
                              </div>
                              <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="textinput" placeholder="captcha" required>
                              </div>
                            </div>
                            <h6>Captcha not visible <img src="/static/images/refresh.jpg" width="20px" onclick="cap()"></h6>
                            <div class="form-group">
                                <button type="submit" onclick="return validcap()"  class="btn btn-primary btn-block">Login</button>
                            </div> <!-- form-group// -->
                        </form>
                    </article> <!-- card-body end .// -->
                    <div class="border-top card-body text-center">Don't Have an account? <a
                            href="register">Register Now</a></div>
                </div> <!-- card.// -->
            </div> <!-- col.//-->
        </div> <!-- row.//-->
        <!--container end.//-->
    </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    
    <script type="text/javascript">
        function cap(){
          var alpha = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V'
                       ,'W','X','Y','Z','1','2','3','4','5','6','7','8','9','0','a','b','c','d','e','f','g','h','i',
                       'j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z', '!','@','#','$','%','^','&','*','+'];
                       var a = alpha[Math.floor(Math.random()*71)];
                       var b = alpha[Math.floor(Math.random()*71)];
                       var c = alpha[Math.floor(Math.random()*71)];
                       var d = alpha[Math.floor(Math.random()*71)];
                       var e = alpha[Math.floor(Math.random()*71)];
                       var f = alpha[Math.floor(Math.random()*71)];
      
                       var final = a+b+c+d+e+f;
                       document.getElementById("capt").value=final;
                     }
                     function validcap(){
                      var stg1 = document.getElementById('capt').value;
                      var stg2 = document.getElementById('textinput').value;
                      if(stg1===stg2 ){
                        
                        return true;
                      }else{
                        alert("Captcha invalid");
                        window.location.href = window.location.href;
                        return false;
                      }
                     }
      </script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>